<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<main class="container">
  <div class="jumbotron">
    <p>Welcome to <%= title %> page</p>
    <p>I am eating</p>
  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>